.main-content {
    display: grid;
    grid-template-columns: 200px 1fr 250px;
    grid-row: 2 / 3;
    height: 100%;
}

.content-area {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.nutrient-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.InfoUtilisateur {
    /* Styles pour positionner et styliser InfoUtilisateur */
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
