.app-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.Navbar {
    grid-row: 1 / 2;
    width: 100%;
    /* Styles pour Navbar */
}

.main-content {
    display: grid;
    grid-template-columns: 200px 1fr 250px; // Barre latérale, contenu principal, infos nutritives
    grid-row: 2 / 3;
    height: 100%;
}

.BarreLaterale {
    grid-column: 1 / 2;
    /* Styles pour BarreLaterale */
}

.nutrient-info-container {

    padding: 1rem;
    gap: 1rem;
}

.info-activity-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .charts-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px; /* Espacement entre les graphiques */
}
.charts-group {
    display: flex;
    gap: 20px; /* Espacement entre AverageSessionDurationChart et ActivitiesChart */
    width: 100%; /* Pour occuper la largeur disponible */
}

