.app-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.Navbar {
    grid-row: 1 / 2;
    width: 100%;
    /* Styles pour Navbar */
}

.main-content {
    display: grid;
    grid-template-columns: 200px 1fr 250px; // Barre latérale, contenu principal, infos nutritives
    grid-row: 2 / 3;
    height: 100%;
}

.BarreLaterale {
    grid-column: 1 / 2;
    /* Styles pour BarreLaterale */
}

.nutrient-info-container {

    padding: 1rem;
    gap: 1rem;
}



