.average-session-duration-chart {
    background-color: #FF0000;
    ;
}
.average-session-title {
    color: #D3D3D3; // Gris clair pour la couleur du texte
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}
