.user-activity-chart {
    width: 90%;
    background-color: #FBFBFB;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h2 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 15px;
        text-align: left;  // Aligner le texte à gauche
        font-weight: 500;
    }
  
    .custom-tooltip {
      background-color: #E60000;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px;
      font-size: 0.875rem;
      color:#fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  
      p {
        margin: 0;
      }
    }
  
   }  
   .custom-legend {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .legend-item {
        display: flex;
        align-items: center;
        gap: 5px;

        .legend-icon {
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }

        .legend-text {
            font-size: 14px;
            font-weight: 500;
        }
    }
}
